{
  "plugins": ["prettier", "jest", "security"],
  "env": {
    "browser": false,
    "node": true
  },
  "extends": [
    "airbnb-base",
    "plugin:prettier/recommended",
    "plugin:jest/recommended",
    "plugin:security/recommended"
  ],
  "rules": {
    "prettier/prettier": "error",
    "semi": ["error", "never"],
    "import/no-extraneous-dependencies": "off",
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }]
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  }
}
